footer {
    background: #EBF2E2;
    color: #303216;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
}

#hours {
    margin-top: 20px;
    font-size: 24px;
}

#socialLinks, #footerNav {
    margin-top: 20px;
}



#footerNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    top: 100;
    width: 100%;
}

#footerNav li {
    display: block;
    text-align: center;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid #303216
}

#footerNav li:first-child {
    padding-left: 0;
}

#footerNav li:last-child {
    border-right: none;
}

#footerNav li a {
    color: #303216;
}


#socialLinks {
}

#socialLinks ul {
    list-style-type: none;
    top: 100;
    width: 50%;
    display: flex;
    flex-direction: row;
}

#socialLinks ul li a {
    display: block;
    color: #303216;
    text-align: center;
    text-decoration: none;
    padding-right: 30px;
    font-size: 44px;
}

#copyright {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
}