/* Hide pages until data is read */
[v-cloak] {
    display: none !important;
}

body {
    font: 1em normal Verdana, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
}

main {
    background: white;
    /* stack header-section-footer on all pages */
    display: flex;
    flex-direction: column;
}

a,
a:visited,
input[type=submit] {
    color: blue;
}

a:hover,
a:active,
input[type=submit]:hover,
ul.buttons a:hover{
    color: purple;
}


.normalButton {
    border: 1px solid #979797;
    font-weight: bold;
    font-size: 13px;
    color: #71B869;
    text-align: center;
    width: 96px;
    height: 30px;
}

.normalButton:hover {
    background-color: #71B869;
    color: white;
    font-weight:normal;
}

.normal2xButton {
    border: 1px solid #979797;
    font-weight: bold;
    font-size: 18px;
    color: #303216;
    text-align: center;
    background: #D8D8D8;
    border-radius: 3px;

    width: 280px;
    height: 50px;
}

.normal2xButton:hover {
    background: #A7A7A7;
}

.emphasized2xButton {
    border: 1px solid #979797;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-align: center;
    background: #71B869;
    border-radius: 3px;

    width: 280px;
    height: 50px;
}

.emphasized2xButton:hover {
    background: #5D9756;
}
